.logoDuoc{
    width: 100px;
    height: 70px;
}

.tortasP{
    width: 200px;
    height: 200px;
}

.imgCarrusel{
    max-height: 400px;
	object-fit: contain;
}

@font-face {
    font-family: "Pacific";
    src: url(/workspaces/fullStack-Js/assets/fonts/Pacifico/Pacifico-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "lato", sans-serif;
    src: url(/workspaces/fullStack-Js/assets\fonts\Lato\Lato-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.hProductos{
    text-align: center;
}

header{
    background-color: #FFC0CB; /* color de fondo */
    text-align: center;        /* centra contenido horizontalmente */
    padding: 10px;             /* espacio interno */
    font-family: 'Pacific'; /* fuente personalizada */
    color: #5D4037;
    justify-content: center;
    align-items: center;
    display: flex;

 
}


.headerimg{
    background-color: white;
    height: 200px;      /* mantiene proporción */
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}

.wave {
    position: relative;
    top:-5px;
}


 .container1{
        height: 20px;
        flex-wrap: wrap; /*no se acumulan, bajan al achicar la pagina*/
        justify-content: flex-end; /*ubicacion del contenido*/
        align-items: end;
        gap: 10px;
        border-right-width: 20px;
        
    }

body{
    display: flex;
    background-color: #FFF5E1 ;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
    margin: 0;
    padding: 0;
    font-family: "lato",sans-serif; /* fuente personalizada */
    color:  #5D4037
}
        .texto-secundario {
            color: #B0BEC5; /* Texto secundario */
        }

        h1, h2, h3 {
            color: #5D4037; /* Asegura que títulos también sean marrón oscuro */
        }